<!DOCTYPE html>
<html lang="en">


<body>
  <div id="hero" class="hero route bg-image" style="background-image: url(assets/img/fondo.jpeg)">
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">


      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto " href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto " href="#work">Work</a></li>
          <li><a class="nav-link scrollto" href="#Contact">Contact</a></li>
        </ul>

        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header>

  <main id="main">
    <div id="hero" class="hero route bg-image" style="background-image: url(assets/img/fondo.jpeg)">
      <div class="overlay-itro"></div>
      <div class="hero-content display-table">
        <div class="table-cell">
          <div class="container">
            <!--<p class="display-6 color-d">Hello, world!</p>-->
            <h1 class="hero-title mb-4">Santiago Garzón Cucayta</h1>
            <h1 class="hero-subtitle">desarrollador Backend</h1>
            <!-- <p class="hero-subtitle"><span class="typed" data-typed-items="Designer, Developer, Freelancer, Photographer"></span></p> -->
            <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
          </div>
        </div>
      </div>
    </div>
  
    <section id="about" class="about-mf sect-pt4 route">
      <div id="hero" class="hero route bg-image" style="background-image: url(assets/img/fondo.jpeg)">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="box-shadow-full">
              <div class="row">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-sm-6 col-md-5">
                      <div class="about-img">
                        <img src="assets/img/perfil2.jpeg" class="img-fluid rounded b-shadow-a" alt="">
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-7">
                      <div class="about-info">
                        <p><span class="title-s">Nombre: </span> <span>Santiago Garzón Cucayta</span></p>
                        <p><span class="title-s">Perfil: </span> <span>Desarrorador Backend</span></p>
                        <p><span class="title-s">Email: </span> <span>garzonsantiago53@gmail.com</span></p>
                        <p><span class="title-s">Telefono: </span> <span>(+57) 3123872423</span></p>
                        <p><span class="title-s">Cargo actual: </span> <span>Ingeniero de desarrollo Junior</span></p>
                        <p><span class="title-s">Locación: </span> <span>Bogotá, Colombia</span></p>
                        <p><span class="title-s">Nacimiento: </span> <span>16 de agosto de 1999</span></p>
                      </div>
                    </div>
                  </div>
                  <div class="skill-mf">
                    <p class="title-s">Skill</p>
                    <span>JAVA</span> <span class="pull-right"> 70%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="50"></div>
                    </div>
                    <span>PYTHON</span> <span class="pull-right"> 50%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="50"></div>
                    </div>
                    <span>TYPESCRIPT</span> <span class="pull-right"> 50%</span>
                    <div class="progress">f
                      <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="50"></div>
                    </div>
                    <span>JAVASCRIPT</span> <span class="pull-right"> 50%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="50"></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="about-me pt-4 pt-md-0">
                    <div class="title-box-2">
                      <h5 class="title-left">
                        Sobre mí
                      </h5>
                    </div>
                    <p class="lead">
                      Estudiante de Ingenieria con habilidades y competencias 
                      que me permiten asimilar los retos para poder responder 
                      con las tareas asignadas, buenas relaciones interpersonales 
                      para entenderme con el equipo, trabajo dia a dia para mejorar 
                      habilidades blandas.
                    </p>
                    <p class="lead">
                      Actualmente soy ingeniero de desarrollo Backend en Farmatodo donde realizo las siguientes funciones:
                      Creación de servicios REST, todo esto manejando Java con Spring Boot para el desarrollo, creación de 
                      scripts en python, manejo de node para crear pasarela(Gateway) en conexión a microservicios y Jira 
                      para gestionar mis tiempos.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>

    <section id="work" class="work-mf sect-pt4 route">
      <div id="hero" class="hero route bg-image" style="background-image: url(assets/img/fondo.jpeg)">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="box-shadow-full">
              <div class="row">
                <div class="col-md-6">
                  <div class="overlay-itro">
                  <div class="row">
                    <div class="col-sm-6 col-md-5">
                    </div>
                    <div class="col-sm-6 col-md-7">
                      
                      <div class="about-experiencia">
                        <p class="title-experiencia-estudio">EXPERIENCIA Y ESTUDIOS</p>
                        <p class="title-experiencia1">EDUCACIÓN</p>
                        <p class="title-experiencia2">TECNÓLOGO EN ANÁLISIS Y DESARROLLO DE SISTEMAS DE INFORMACIÓN</p>
                        <p class="lugar-experiencia">Centro de electricidad electronica y telecomunicaciones</p>
                        <div class="experiencia">
                          <li value="2"> 2017 - 2019</li>
                          <li value="2"> Cra. 30 #17B-25Sur, Bogotá </li>
                        </div>

                        <p class="title-experiencia2">CURSO DE ANGULAR</p>
                        <p class="lugar-experiencia">Udemi</p>
                        <div class="experiencia">
                          <li value="2"> 2021 - presente </li>
                        </div>
                        <p class="title-experiencia2">ESTUDIANTE DE INGENIERIA DE SISTEMAS</p>
                        <p class="lugar-experiencia">AREA ANDINA</p>
                        <div class="experiencia">
                          <li value="2"> 2021 - presente</li>
                          <li value="2"> Cl. 69 #15-40 , Bogotá </li>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="skill-studios">
                    <p class="title-studios1">EXPERIENCIA PROFECIONAL</p>
                    <p class="title-studios2">DESARROLLO BACKEND JUNIOR</p>
                    <p class="lugar-studios">FARMATODO</p>
                    <div class="studios">
                      <li value="2">Creación de servicios REST en Java con Spring Boot.</li>
                      <li value="2">Creación de scripts en python.</li>
                      <li value="2">Manejo de Jira para el control de mis tareas y tiempos.</li>
                      <li value="2">Diseñar soluciones optimas para implementar en la plataforma.</li>
                    </div>
                    <p class="title-studios2">ANALISTA DE DESARROLLO BACKEND</p>
                    <p class="lugar-studios">FARMATODO</p>
                    <div class="studios">
                      <li value="2">Creación de servicios REST en Java con Spring Boot.</li>
                      <li value="2">Creación de scripts en python.</li>
                      <li value="2">Manejo de Jira para el control de mis tareas y tiempos.</li>
                    </div>
                  </div>
                 </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>


    <section id="Contact" class="wor3k-mf sect-pt4 route">
      <div id="hero" class="hero route bg-image" style="background-image: url(assets/img/fondo.jpeg)">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="box-shadow-full">
              <div class="row">
                <div class="col-md-6">
                  <div class="overlay-itro">
                  <div class="row">
                    <div class="col-sm-6 col-md-5">
                    </div>
                    <div class="col-sm-6 col-md-7">
                      
                      <div class="about-co4ntact">
                        <p class="title-contactV2">EXPERIENCIA Y ESTUDIOS</p>
                        
                        <div class="contactV2">
                          <textarea name="texto" rows="4" cols="60"  placeholder="Name" required></textarea>
                        </div>
                        <div class="contactV2">
                          <textarea name="texto" rows="2" cols="40" placeholder="Email"required></textarea>
                        </div>
                        <div class="contactV2">
                          <textarea name="texto" rows="4" cols="40" placeholder="Message"required></textarea>
                        </div>
                        <div class="contactV2">
                        <input type="submit" value="Enviar">
                      </div>
                  </div>
                  <p class="leadv2">
                    "Si tú no trabajas por tus sueños, alguien te contratara para que trabajes por los suyos" Steve Jobs
                  </p>
                  </div>
                  </div>
                 </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>



  </main>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="copyright-box">
            <p class="copyright">&copy; 2021 <strong>Santiago Garzón Cucayta</strong></p>

          </div>
        </div>
      </div>
    </div>
  </footer><!-- End  Footer -->

  </div>
  </body>
  </html>


